.haiross { font-size:0; line-height:0; }
.haiross img { max-width:100%; }
.haiross .haiross_button_1 { position:absolute; top:0.5%; right:26%; width:48%; height:1.2%; cursor: pointer; }
.haiross a { position:absolute; }
.haiross .haiross_button_2 { top:15.6%; left:8.4%; width:82%; height:2.1%; }
.haiross .haiross_button_3 { bottom:2.2%; left:8.4%; width:82%; height:1.1%; }
.haiross .haiross_button_4 { bottom:1%; left:8.4%; width:82%; height:1.1%; }