.xans-mall-faq { margin:14px 0 0; padding:0 0 29px; font-size:13px; }
.xans-mall-faq .ec-base-fold.theme4 dt { font-size:14px; }
.xans-mall-faq .ec-base-fold.theme4 dd { border-top:1px dotted #ddd; }
.xans-mall-faq .ec-base-fold.theme4 dd + dt { border-top:1px dotted #eee; }