#contents { padding:0 0 29px; }
.xans-mall-term { margin:14px 0px 0; padding:14px; color:#777; font-size:12px; line-height:1.5; border:1px solid #ddd; background:#fff; border-radius:0px; }

.myArea .inner .fr-view p, 
.myArea .inner .fr-view span, 
.myArea .inner .fr-view div {font-size:14px; color:#333; line-height:1.3 !important; margin-bottom:15px !important;}
