<!--------------------------------------------------------------------------------------------
    ■ 하단 회사정보 ■
    ※ 해당 스킨의 하단 푸터 영역은 layout.css가 아닌 footerPackage.css 에서 변경가능합니다.
--------------------------------------------------------------------------------------------->

<footer module="layout_footerPackage">
    <!--@css(/css/module/layout/footerPackage.css)--> <!-- ◀ 하단 푸터 css  -->
    
    <div class="footerMenu">
        <ul class="policy">
            <li><a href="/shopinfo/company.html">회사소개</a></li>
            <li><a href="/member/mall_agreement.html">이용약관</a></li>
            <li><a href="/member/privacy.html">개인정보처리방침</a></li>
            <li><a href="/shopinfo/guide.html">이용안내</a></li>
            <li><a href="#none" onclick="javascript:isPCver();">PC</a></li>
        </ul>
    </div>
    
    <div class="footer01">
        <div class="footer_cs" module="Layout_Info">
            <h3 class="tit">CS Center</h3>
            <p class="tel">{$phone}</p>
            <p>{$runtime}</p>
        </div>

        <div class="footer_bank">                
            <h3 class="tit">Bank Info</h3>
            <p>우리 1002-355-664254<br/>신한 1234-123-123456</p>
            <p>예금주 : 굿디몰디자인</p>
        </div>
    </div>    
        
	<div module="Layout_footer">
        <address>                
           	<h3 class="tit">Store Info</h3> 
            <div class="footerInfo">             
            	<span>법인명 : {$company_name}</span> / <span>대표자 : {$president_name}</span><br />
                <span>사업자등록번호 : {$company_regno} <font>{$biz_no_link}</font></span><br />
                <span>통신판매업 신고 {$network_regno}</span> <br />
                <span>전화 : <a href="tel:{$phone}">{$phone}</a></span> / <span>팩스 : {$fax}</span><br />
                <span>주소 : {$mall_zipcode} {$mall_addr1} {$mall_addr2}</span><br />
                <span class="{$cpo_email|display}">개인정보관리책임 : <a href="mailto:{$cpo_email}">{$cpo_name}({$cpo_email})</a></span><br/>
                <span>Hosting by 카페24</span> 
                <a href="//www.goodymall.co.kr/" target="_blank"><img src="/web/upload/mynomy/kr_mobile/layout/goodymall_logo.gif" style="margin:0 0 0 5px;" alt="디자인저작권자:굿디몰디자인" /></a>           
            </div>
        </address>
    </div>    
    
    <div class="footerCon">
        <div class="util">
            <div module="Layout_ReferenceCurrencyList" class="list mobileFooter">
                <!--@css(/css/module/layout/multiCurrency.css)-->
                <button type="button" class="toggle" id="reference_currency_button">
                    <span class="btn-global">참조화폐</span>
                    <span class="currencyNow">{$current_reference_currency_code} {$current_reference_currency_symbol}</span>
                </button>
                <ul module="Layout_ReferenceCurrencyListitem" class="referencecurrencylistitem" id="reference_currency_list">
                    <li class="">
                        <a href="#">
                            <span class="name">{$reference_currency_code}</span>
                            <span class="unit">{$reference_currency_symbol}</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="name">{$reference_currency_code}</span>
                            <span class="unit">{$reference_currency_symbol}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> 

        <div class="ft_left">
            <ul class="footer_sns">
                <li><a href="//www.facebook.com" target="_blank"><i class="xi-facebook"></i></a></li>
                <li><a href="//www.instagram.com" target="_blank"><i class="xi-instagram"></i></a></li>
                <li><a href="//www.kakao.com/talk/ko" target="_blank"><i class="xi-kakaotalk"></i></a></li>
                <li><a href="//www.youtube.com" target="_blank"><i class="xi-youtube-play"></i></a></li>                    
            </ul>
        </div> 
    </div>     
    <p  module="Layout_footer" class="copyright">Copyright&copy; 2022 {$mall_name}. All Rights Reserved.</p>
</footer>

<!-- * 스크롤시 나타나는 우측 하단버튼 * -->
<div id="goBtn" class="fixed_btn"> 
    <!--------------------------------------------------------------------------------------------------
        ■ 우측 sns 버튼 ■

        1) 카카오채널 - 카카오채널 관리자센터에서 홈 생성 후, 발급받은 URL을 a태그에 삽입해 주시기 바랍니다.
        2) 네이버 톡톡 - 네이버 톡톡센터에서 계정 생성 후 발급받은 배너 소스를 삽입해주시기 바랍니다.
    ----------------------------------------------------------------------------------------------------->
    <!--a href="//pf.kakao.com/_hxcTRK" target="_blank" class="sns_btn kakao_icon"><i class="xi-kakaotalk"></i><!--span>상담하기</span--><!--/a>
    <a href="//partner.talk.naver.com" target="_blank" class="sns_btn naver_icon"><i class="xi-naver"></i><!--span>톡톡문의</span--><!--/a-->
    
    <!-- * 스크롤 버튼 * -->
    <!--a href="#none" class="btn up fade"><i class="xi-angle-up"></i><span>맨위로</span></a-->
    <!--a href="#none" class="btn down fade"><i class="xi-angle-down"></i></a-->
</div>

<!-------------------------------------------------------------------------------------
::: 결제를 위한 필수 영역 :: 절대 삭제하지 마세요 ▼ :::
--------------------------------------------------------------------------------------->
<div id="progressPaybar" style="display:none;">
    <div id="progressPaybarBackground" class="layerProgress"></div>
    <div id="progressPaybarView">
        <p class="graph">현재 결제가 진행중입니다.</p>
        <p class="txt">
            본 결제 창은 결제완료 후 자동으로 닫히며, <br>
            결제 진행 중에 본 결제 창을 닫으시면<br>
            주문이 되지 않으니 <br>
            결제 완료 될 때 까지 닫지 마시기 바랍니다.
        </p>
    </div>
</div>
<div module="Layout_multishopShipping" class="ec-base-layer typeModal">
    <!--@css(/css/module/layout/multishopShipping.css)-->
    <!--@js(/js/module/layout/multishopShipping.js)-->
    <h1>WORLD SHIPPING</h1>
    <div class="wrap worldshipLayer">
        <p class="desc">PLEASE SELECT THE DESTINATION COUNTRY AND LANGUAGE :</p>
        <div class="select">
            <select module="Layout_multishopShippingCountrylist">
                <option value="{$country_code}"{$country_default_selected}>SHIPPING TO : {$country_name}</option>
                <option value="{$country_code}"{$country_default_selected}>SHIPPING TO : {$country_name}</option>
            </select>
        </div>
        <div class="select">
            <select module="Layout_multishopShippingLanguagelist">
                <option value="{$shop_domain}"{$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
                <option value="{$shop_domain}"{$shop_default_selected}>LANGUAGE : {$shop_language_name}</option>
            </select>
        </div>
    </div>
    <div class="ec-base-button gFull">
        <a href="#none" class="btnSubmit">GO</a>
    </div>
    <a href="#none" class="btnClose">닫기</a>
</div>
<!--div class="btnTop" id="btnTop">
    <a href="#">맨위로</a>
</div-->
<div module="mobilequick_display">
    {$quick_link}
    {$quick_button}
</div>
