.detailWrap { max-width:750px; width:100%; padding: 50px 20px 0; margin:0 auto; box-sizing: border-box; }
.detailArea { display:flex; flex-wrap: wrap; justify-content: center; margin:50px auto; }
/* .detailArea.vertical { flex-direction:column; } */
.detailArea .txtBox { flex:1; /*display:flex; flex-direction: column; justify-content: center;*/ text-align:left; letter-spacing:-0.03em; padding: 0 0 20px; }
.detailArea .txtBox .inner { width:100%; }
.detailArea .txtBox.center { text-align:center; }
/* .detailArea .txtBox.keyword { max-width:50%; } */
/* .detailArea .txtBox.keyword02 { max-width:76%; } */
.detailArea .txtBox.keyword .title { margin:0 0 104px; }
.detailArea .txtBox .title { position:relative; letter-spacing:-0.03em; }
.detailArea .txtBox .title > span { position:absolute; font-size:16px; line-height:40px; color:#999; font-weight:700; }
.detailArea .txtBox .title > span:nth-child(2) { top: -75px; left:19%; }
.detailArea .txtBox .title > span:nth-child(3) { top: -58px; left:43%; }
.detailArea .txtBox .title > span:nth-child(4) { top: -86px; right:24%; }
.detailArea .txtBox .title > span:nth-child(5) { top: -40px; right:5%; }
.detailArea .txtBox .title > span:nth-child(6) { bottom: -56px; right:11%; }
.detailArea .txtBox .title > span:nth-child(7) { bottom: -59px; left:43%; }
.detailArea .txtBox .title > span:nth-child(8) { bottom: -72px; left:19%; }
.detailArea .txtBox .title > span:nth-child(9) { top: -24px; left:7%; }
.detailArea .txtBox .title h3 { font-size:26px; line-height:1.4; font-weight:700; color:#0b0a0a; margin: 0 0 10px; }
.detailArea .txtBox .title h3 span.color { color:#ff585d; }
.detailArea .txtBox .title h3 span.highlight { background: linear-gradient(#d4dd69,#d4dd69) left center/100% 60% no-repeat; }
.detailArea .txtBox .title h4 { font-size:24px; line-height:36px; font-weight:500; color:#5e5c5c; margin:0 0 20px; }
.detailArea .txtBox h4 { font-size:38px; line-height:58px; font-weight:700; color:#ff585d; margin:0 0 24px; }
.detailArea .txtBox p { font-size:16px; line-height:1.5; font-weight:500; color:#000; }
.detailArea .txtBox p.sub { color:#71747a; margin:20px 0 0; }
.detailArea .txtBox p > span { font-weight:700; }
.detailArea .txtBox p > span.point { color:#ff585d; font-weight:500; }
.detailArea .listBox p {  font-weight:700; color:#333; margin:0 0 20px; }
.detailArea .listBox p:last-child { margin:0; }
.detailArea .contentBox { width: 100%; letter-spacing:-0.03em; }
.detailArea .contentBox .icon { display:inline-block; text-align:center; width:30px; height:30px; background:#d4dd69; border-radius:100%; vertical-align:middle; margin:0 5px 0 0; }
.detailArea .contentBox .icon i { color:#fff; line-height:30px; }
.detailArea .contentBox p { font-size:15px; line-height:1.2; letter-spacing: -.8px; }
.detailArea .contentBox p span { color:#987358; }
.detailArea .vertical_line { display:inline-block; border-left: 1px dashed #70747a; height: 80px; left: 50%; margin:60px auto; }
.detailArea .vertical_line2 { margin:60px auto 0; }

.detail_01 .typeBox { display:flex; justify-content: center; background:url('/web/upload/mynomy/kr/prd/grid.png') no-repeat; background-position:50% 0; margin:0 0 16px; }
.detail_01 .typeBox .typeWrap { display: flex; justify-content: space-evenly; max-width: 372px; width: 100%; }
.detail_01 .typeBox .type_icon { flex:1; display:flex; flex-direction: column; align-items: center; }
.detail_01 .typeBox .type_icon > span:first-child { font-size:80px; line-height:88px; color:#5e5047; font-weight:500; }
.detail_01 .typeBox .type_icon > span:last-child { font-size:16px; line-height:24px; font-weight:700; margin:10px 0 0; }

.detail_01 .contentBox .barBox { display:flex; justify-content: center; }
.detail_01 .contentBox .barBox .barWrap { display:flex; flex-direction: column; justify-content: space-between; align-items: flex-end; width:100%;  }
.detail_01 .contentBox .barBox .barArea { width:100%; margin:16px auto; }
.detail_01 .contentBox .barBox .barArea > div { display:flex; justify-content: space-between; width:100%; }
.detail_01 .contentBox .barBox .barArea .bar { height:36px; line-height:36px; background:#b3ada9; text-align:center; }
.detail_01 .contentBox .barBox .barArea .bar > span { flex:1; font-size:12px; color:#333; font-weight:400;  }
.detail_01 .contentBox .barBox .barArea .bar > span.checked { background:#d4dd69; color:#0b0a0a; font-weight:700; }
.detail_01 .contentBox .barBox .barArea .txt { font-size:14px; line-height:21px; color:#5e5047; font-weight:600; margin:0 0 4px; }
.detail_01 .contentBox .barBox .barArea .txt span:first-child { text-align:left; }
.detail_01 .contentBox .barBox .barArea .txt span:last-child { text-align:right; }

.detail_02 .txtBox { display:flex; justify-content: center; }
.detail_02 .txtBox .type_select span { font-weight:500; }
.detail_02 .contentBox { display: flex; justify-content: center; }
.detail_02 .diagramBox { display: flex; flex-wrap: wrap; justify-content: center; position:relative; max-width: 480px; width: 100%;}
.detail_02 .diagramBox .item { width: 33.33%; padding: 5px; box-sizing: border-box; display:flex; flex-direction: column; }
.detail_02 .diagramBox .item .circle { display:flex; justify-content: center; align-items: center; width: 100%; background:#f8f6f4; border-radius:100%; padding:10px; box-sizing:border-box; }
.detail_02 .diagramBox .item .circle:after { content: ''; display: block; padding-bottom: 100%; }
.detail_02 .diagramBox .item span { font-size:14px; line-height:1.4; color:#0b0a0a; font-weight:600; word-break:keep-all; text-align:center; margin:0 16px; }

.detail_03 .txtBox p.sub { margin:0 0 42px; }

.detail_04 .contentBox { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; width:100%; margin:0; }
.detail_04 .itemBox { width:100%; background:#efeeed; margin: 0 0 20px; }
.detail_04 .itemBox .inner { padding:14px 20px; }
.detail_04 .itemBox h3 { font-size:20px; line-height:32px; color:#5e5047; font-weight:700; text-align:center; margin: 0 0 10px; }
.detail_04 .itemBox .list {  }
.detail_04 .itemBox .list li { position:relative; display:flex; font-size:14px; line-height:20px; color:#333; margin:0 0 16px; padding:0 0 0 20px; }
.detail_04 .itemBox .list li:last-child { margin:0; }
.detail_04 .itemBox .list li { content:""; display:inline-block; background:url(/web/upload/mynomy/kr/prd/check_point.png) no-repeat 0 1px; background-size:14px; }

.detail_05 .contentBox { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; width:100%; margin:20px 0 0; }
.detail_05 .imgBox { width: 100%; display: flex; justify-content: space-between; align-items: flex-end; padding: 0 0 20px;}
.detail_05 .imgBox .imgArea { width: 100%;  }
.detail_05 .imgBox .brochure { width: 35%; }
.detail_05 .imgBox img { width:100%; }

.detail_06 .contentBox .imgBox { display: flex; justify-content: center; }
.detail_06 .contentBox .imgBox .imgArea { display:flex; justify-content: space-between; align-items: flex-end; width:100%; border-radius:8px;overflow:hidden; margin: 0 0 40px; }
.detail_06 .contentBox .imgBox .imgArea img { width:100%; }
.detail_06 .txtBox p { color:#71747a; }

.detail_07 .txtBox .title .color sub { font-size:20px; vertical-align: baseline; }
.detail_07 .contentBox { width:100%; text-align:center; }

.detail_07 .diagramBox { display: flex; justify-content: space-between; align-items: flex-start; position:relative; width: 100%; }
.detail_07 .diagramBox::before { display: inline-block; content: ""; background: #868686; height: 1px; position: absolute; top: 50%; left: 20px; right: 20px; z-index:1; /* transform: translateY(-50%);*/ }
.detail_07 .diagramBox .item { width: 20%; padding: 0 2px; box-sizing: border-box; }
.detail_07 .diagramBox .item .circle { position: relative; z-index: 2; display:flex; justify-content: center; align-items: center; width:100%; background:#c4c4c4; border-radius:100%; box-sizing:border-box; }
.detail_07 .diagramBox .item .circle:after { content: ''; display: block; padding-bottom: 100%; }
.detail_07 .diagramBox .item .circle.color01 { background:#868686; }
.detail_07 .diagramBox .item .circle.color02 { background:#d4dd69; }
.detail_07 .diagramBox .item .circle.color02 span { position:relative; color:#ff585d; font-weight:700; line-height:1.2; }
.detail_07 .diagramBox .item .circle.color02 span i { font-size:14px; vertical-align: middle; }
.detail_07 .diagramBox .item .circle.color02 span sup { position:absolute; top: -12px; right: -6px; font-size:10px; color:#0b0a0a; }
.detail_07 .diagramBox .item span { text-align:center; font-size:12px; line-height:1.2; color:#fff; font-weight:600; word-break:keep-all; }

.detail_07 .imgBox { margin:80px 0 0; }
.detail_07 .imgBox .imgArea { max-width:500px; margin:0 auto; }
.detail_07 .imgBox .imgArea img { width:100%; }
.detail_07 .txtBox p { color:#71747a; }

/* 탭 */
.tabWrap { position: relative;  }
.tabWrap:after {
	content: '';
	position: absolute; top: 0; left: -20px; right: -20px; bottom: 0;
	background:#f8f6f4;
}
.detailTab { position:relative; z-index: 1; display:flex; flex-direction: column; width:100%; margin:0 auto;}
.detailTab .btnArea { position:absolute; top:-109px; width:100%; }
.detailTab .btn { width:100%; display:flex; justify-content: center; margin:0 auto; }
.detailTab .btn li { flex:1; display:flex; justify-content: center; background:#b3ada9; padding:20px; cursor:pointer; }
.detailTab .btn li.tab01 { border-radius:80px 0 0 80px; }
.detailTab .btn li.tab02 { border-radius:0 80px 80px 0; }
.detailTab .btn li .tab_img { width:40px; margin:10px auto; filter: grayscale(1); }
.detailTab .btn li .tab_img img { width:100%; }
.detailTab .btn li a { display:block; font-size:16px; color: #111; text-align:center;  }
.detailTab .btn li.on { background:#d4dd69; }
.detailTab .btn li.on .tab_img { filter: grayscale(0); }
.detailTab .btn li.on a { font-weight:700; }
.detailTab .con { padding:150px 0 40px; }
.detailTab .con > li { display:none; }
.detailTab .con > li.on { display:block }

/* 맞춤케어 POINT */
.articleArea section[class*="sec"] { display:flex; flex-wrap: wrap; }
.articleArea section[class*="sec"]:not(.sec01, .sec04) { margin:100px auto; }
.articleArea section[class*="sec"] .txtBox { width: 100%; padding: 0 0 40px; text-align:left; }
.articleArea section[class*="sec"] .txtBox .title { letter-spacing:-0.03em; }
.articleArea section[class*="sec"] .txtBox .title h3 { font-size:26px; line-height:1.4; font-weight:700; color:#0b0a0a; }
.articleArea section[class*="sec"] .txtBox .title h3 span { background: linear-gradient(#d4dd69,#d4dd69) left center/100% 60% no-repeat; }
.articleArea section[class*="sec"] .txtBox .title h4 { font-size:15px; line-height:1.2; font-weight:700; color:#5e5c5c; margin:0 0 10px; }
.articleArea section[class*="sec"] .txtBox p { font-size:14px; line-height:1.5; font-weight:500; color:#5e5047; }
.articleArea section[class*="sec"] .txtBox p.sub { color:#333; margin:20px 0; }
.articleArea section[class*="sec"] .contentBox { width: 100%; letter-spacing:-0.03em; text-align:center; }
.articleArea section[class*="sec"] .contentBox > p { font-size:17px; line-height:1.4; font-weight:700; color:#987358; margin:0 0 28px; }
.articleArea section[class*="sec"] .contentBox .inner > p { font-size:16px; line-height:1.5; font-weight:700; color:#987358; margin:0 0 30px; }
.articleArea section[class*="sec"] .contentBox p span {  }


/* 맞춤케어 POINT 01 */
.articleArea .sec01 .contentBox .inner { width:100%; margin: 0 auto; padding:40px 20px; box-sizing:border-box; border-radius:8px; box-shadow:0 0 10px 4px rgb(0 0 0 / 5%) }
.articleArea .sec01 .contentBox .barBox { display: flex; justify-content: center; }
.articleArea .sec01 .contentBox .barBox .barArea { display:flex; flex-direction: column; justify-content: space-between; align-items: flex-end; max-width:480px; width:100%;  }
.articleArea .sec01 .contentBox .barBox .barArea > div { display:flex; justify-content: space-between; width:100%; }
.articleArea .sec01 .contentBox .barBox .barArea .bar { height:20px; background:#b3ada9; margin:0 0 8px; }
.articleArea .sec01 .contentBox .barBox .barArea .bar > span { flex:1; border-right: 1px solid #fff; }
.articleArea .sec01 .contentBox .barBox .barArea .bar > span::last-child { border-right:0; }
.articleArea .sec01 .contentBox .barBox .barArea .bar > span.checked { background:#d4dd69; }
.articleArea .sec01 .contentBox .barBox .barArea .txt { font-size:14px; line-height:21px; font-weight:500; color:#5e5047; }
.articleArea .sec01 .contentBox .barBox .barArea .txt span:first-child { text-align:left; }
.articleArea .sec01 .contentBox .barBox .barArea .txt span:last-child { text-align:right; }


/* 맞춤케어 POINT 02 */
.articleArea .sec02 .contentBox .complexBox { width:100%; margin:0 auto 60px; }
.articleArea .sec02 .contentBox .complexBox .complexArea { display:flex; flex-wrap: wrap; justify-content: space-between; margin: 0 0 50px; }
.articleArea .sec02 .contentBox .complexBox .complexArea .txtBox { width:100%; background:#fff; padding:20px; border-radius:8px; box-sizing:border-box; box-shadow:0 0 10px 4px rgb(0 0 0 / 5%); }
.articleArea .sec02 .contentBox .complexBox .complexArea .txtBox h3 { font-size:18px; line-height:26px; color:#0b0a0a; font-weight:700; margin:0 0 12px; }
.articleArea .sec02 .contentBox .complexBox .complexArea .txtBox p { font-size:16px; line-height:24px; color:#5e5047; font-weight:400; }
.articleArea .sec02 .contentBox .complexBox .complexArea .imgBox { width:100%; display:flex; align-items: center; flex-wrap: wrap; }
.articleArea .sec02 .contentBox .complexBox .complexArea .imgBox .icon { width: 33.33%; max-width: 110px; }
.articleArea .sec02 .contentBox .complexBox .complexArea .imgBox .icon img { width:100%; }
.articleArea .sec02 .contentBox .complexBox .complexArea .imgBox .icon p { font-size:14px; line-height:18px; color:#5e5047; font-weight:500; }
.articleArea .sec02 .element { display:flex; flex-wrap: wrap; font-size:14px; line-height:18px; color:#5e5047; font-weight:500; }


/* 맞춤케어 POINT 03 */
.articleArea section[class*="sec"].sec03 { align-items: center; }
.articleArea .sec03 .txtBox .frag { font-size:24px; line-height:40px; font-weight:700; margin:24px 0; }
.articleArea .sec03 .contentBox { display:flex; align-items: center; justify-content: center; flex-direction: column; }
.articleArea .sec03 .contentBox .imgBox { display:flex; justify-content: center; max-width:320px; width:100%; }
.articleArea .sec03 .contentBox .imgBox .imgArea { width:100%; border-radius:100%; overflow:hidden; }
.articleArea .sec03 .contentBox .imgBox .imgArea img { max-width:240px; border-radius:100%; overflow:hidden;  }


/* 맞춤케어 POINT 04 */
.articleArea .sec04 .contentBox { display:flex; align-items: center; justify-content: center; }
.articleArea .sec04 .contentBox .inner { padding:40px 20px; box-sizing: border-box; border-radius:8px; background:#fff; box-shadow:0 0 10px 4px rgb(0 0 0 / 5%); }
.articleArea .sec04 .contentBox .imgBox { display:flex; justify-content: space-between; align-items: flex-start; }
.articleArea .sec04 .contentBox .imgBox .icon { width: 20%; padding: 0 2px; box-sizing: border-box; }
.articleArea .sec04 .contentBox .imgBox .icon img { width:100%; text-align: center; }
.articleArea .sec04 .contentBox .imgBox .icon p { font-size:13px; line-height:1.2; color:#5e5047; font-weight:500; margin:12px 0 0; word-break: keep-all; }
